{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid padding">
  <div class="row">
    <div class="col-md-4">
      <div class="shadow p-3 mb-5 bg-white rounded">
        {% for object in object_list%}

        <div class="card-body">
          <h5 class="card-title">{{ object.name}}</h5>
          <p class="card-text">{{ object.description }}</p>
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
