{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="container-fluid padding">
  <div class="row">
    <div class="col-md-4">
       <div class="shadow p-3 mb-5 bg-white rounded">
      <img class="img-fluid"  src="{%static 'images/house1.jpg'%}"/>
        <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">View Details</a>
    </div>
      </div>
    </div>



{% endblock content %}